html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing:  inherit;
}

body {
  font: normal 14px/1.4 Lato;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  padding: 1em 1.5em;
}

.current {
  background-color: #000153;
  color: #fff;
}

nav {
  margin: 1em 0;
}

.nav > li {
  display: inline-block;
}

.nav li a {
  display:  inline-block;
  margin-right: .5em;
  padding: .5em 1em;
}

.nav-top {
  font-size: 1.25em;
}