<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="stylesheet" href="">
</head>
<body>
  
  <header>
    <hgroup>
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
    </hgroup>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/portfolio.html">Portfolio</a></li>
        <li><a href="{{ site.baseurl }}/news.html">News</a></li>
      </ul>
    </nav>
  </header>
  
  {{ content }}
  
  <footer>
    <p>&copy; 2017 created by alan bakhri</p>
  </footer>

</body>
</html>